@use '~lasp-base-app-snippets/styles/misc';
@include misc.ignore-max-page-width;

.plots {
    display: flex;
    &__grid {
        width: 90%;
    }
    &__selector {
        width: 20%;
        display: flex;
        flex-direction: column;
        ::ng-deep {
            .mat-checkbox { display: none }
            .mat-raised-button {
                margin: 5px 0;
            }
        }
    }
}
