$dusk-blue: (
    50 : #e8e9ed,
    100 : #c5c9d3,
    200 : #9ea5b5,
    300 : #778097,
    400 : #596581,
    500 : #3c4a6b,
    600 : #364363,
    700 : #2e3a58,
    800 : #27324e,
    900 : #1a223c,
    A100 : #7e9cff,
    A200 : #4b75ff,
    A400 : #184eff,
    A700 : #003bfd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$solar-gold: (
    50 : #fcf4e0,
    100 : #f8e4b3,
    200 : #f3d280,
    300 : #eebf4d,
    400 : #eab226,
    500 : #e6a400,
    600 : #e39c00,
    700 : #df9200,
    800 : #db8900,
    900 : #d57800,
    A100 : #fffefc,
    A200 : #ffe5c9,
    A400 : #ffcb96,
    A700 : #ffbf7d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$lasp-red: (
  50 : #fde4e5,
  100 : #fabbbd,
  200 : #f68e92,
  300 : #f26066,
  400 : #f03e45,
  500 : #ed1c24,
  600 : #eb1920,
  700 : #e8141b,
  800 : #e51116,
  900 : #e0090d,
  A100 : #ffffff,
  A200 : #ffd7d7,
  A400 : #ffa4a5,
  A700 : #ff8b8c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
